body{
	background-color: black
}

.single-line-code p{
	color: black;
	font-family: Consolas, monospace;
	position: relative;
	float: left;
	font-size: 50px;
	margin-left: 10px;
	margin-top: 40px;
	margin-left: 50px;
	margin-right: 50px;
	font: bold 50px Consolas, Monaco, monospace;
    border-right: .1em solid;
    width: 20em; 
    width: 12.5ch; 
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(50, end), 
        blink-caret .3s step-end infinite alternate;	
}
#cursor{
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
}
@keyframes typing { from { width: 0; } }
@keyframes blink-caret { 50% { border-color: transparent; } }

.multi-line-code p{
  color: rgb(51,255,0);
  font-weight: 900;
	font-family: Consolas, monospace;
  margin: 10px 0 0 10px;
	white-space: nowrap;
	overflow: hidden;
	width: 30em;
  animation: type 2s steps(50,end);
}

p:nth-child(2){
  animation: type2 4s steps(60, end);
}

p:nth-child(3){
  animation: type3 8s steps(60, end);
}

p:nth-child(4){
  animation: type4 14s steps(60, end);
}

p:nth-child(5){
  animation: type5 24s steps(60, end);
}

p:nth-child(6){
  animation: type6 2s steps(60, end);
}

p:nth-child(7){
  animation: type7 28s steps(40, end);
}

span{
  animation: blink 1s infinite;
}

@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
}

@keyframes type3{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes type4{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
}

@keyframes type5{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 
@keyframes type6{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
}

@keyframes type7{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes blink{
  to{opacity: .0;}
}

::selection{
  background: black;
}

.static-console {
	background-color: black;
	background-image: radial-gradient(
	rgba(7, 25, 124, 0.75), black 120%);
	/*rgba(0, 150, 0, 0.75), black 120%);*/
	height: 100vh;
	margin: 0;
	overflow: hidden;
	padding: 2rem;
	color: white;
	font: 1.3rem Inconsolata, monospace;
	text-shadow: 0 0 5px #C8C8C8;
	&::after {
	  content: "";
	  position: absolute;
	  top: 0;
	  left: 0;
	  height: 100vh;
	  background: repeating-linear-gradient(
		0deg,
		rgba(black, 0.15),
		rgba(black, 0.15) 1px,
		transparent 1px,
		transparent 2px
		);
	  pointer-events: none;
	}
  }
  ::selection {
	background: #0080FF;
	text-shadow: none;
  }
  pre {
	margin: 20;
	margin-left: -200px;;
  }
/* ------------------------------ */ 

h1{
	color:white;
	text-align: center;
	font-family: 'arial';
	font-size: 50px;
	font-style: italic;
}

h2{
	font-family: 'arial';
	padding-left: 50px;
	color: #0080FF;
}

.single-line-code{
	border: 2px solid rgb(255, 108, 51);
	color: rgb(143,160,170);
	color: rgb(18,234,48);
	color: rgb(234,228,18);
	min-height: 150px;
	min-width: 100px;
	border-radius: 20px;
	background-color: black;
	background-color: white;
	margin-bottom: 100px;
}

.multi-line-code{
	background-color: black;
	margin:5% 1% 5% 1%;
	margin-top: -10px;
	background-color: white;
	background-color: rgb( 234, 236, 238 );
	background-color: black;
	border: 1px solid rgba(143,160,170,.3);
	min-height: 175px;
	min-width: 200px;
	padding: 1%;
	border-radius: 20px;
}